p{
	border:2px solid;
padding:10px;
background:#dddddd;
border-bottom-left-radius:2em;
box-shadow: 10px 10px 5px #888888;
text-align: center;
font-style:oblique;
}
p:hover
{
background-color: red;
}
table 
{
	text-align: center;
	margin-left: 45%
}
body {

    text-align:center;
    }
img 
{
	 align:middle;
}